<p>Hi {{currentUser.name}}</p>
<p>You have selected these SSR's</p>
<mat-tab-group dynamicHeight>
  <mat-tab label="Unpaid Special Service Requests">
  <div class="dialog">
  <mat-dialog-content class="mat-typography">
  <div class="card">
  <div class="card-body">
    <form [formGroup]="ssrForm">
      <section class="example-section">
      <ng-template ngFor let-item [ngForOf]="filterFields" let-i="index" >
          <span *ngIf="!filterFields[i].isPaid" class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="allComplete"
                            [color]="black" (click)="addSsr(filterFields[i].ssr)">
                {{filterFields[i].ssr}}
              </mat-checkbox><br>
            </span>
          <!-- <label for="filterFields[i].SSR">{{filterFields[i].SSR}}</label>
          <input id="filterFields[i].SSR" type="text" [formControlName]="filterFields[i].SSR"> -->
        </ng-template>
        </section>
  </form>
          </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="btn btn-success" [mat-dialog-close]="ssrList" cdkFocusInitial color="accent">Add</button>
  <button mat-button mat-dialog-close class="btn btn-danger" color="primary" >Quit</button>
</mat-dialog-actions>
<br>
<mat-progress-bar [mode]="progressMode"></mat-progress-bar>
</div>
  </mat-tab>
  <mat-tab label="Premium Special Service Requests">
  <div class="dialog">
  <mat-dialog-content class="mat-typography">
  <div class="card">
  <div class="card-body">
    <form [formGroup]="ssrForm">
      <section class="example-section">
      <ng-template ngFor let-item [ngForOf]="filterFields" let-i="index" >
          <span *ngIf="filterFields[i].isPaid" class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="allComplete"
                            [color]="black" (click)="addSsr(filterFields[i].ssr)">
                {{filterFields[i].ssr}}
              </mat-checkbox><br>
            </span>
          <!-- <label for="filterFields[i].SSR">{{filterFields[i].SSR}}</label>
          <input id="filterFields[i].SSR" type="text" [formControlName]="filterFields[i].SSR"> -->
        </ng-template>
        </section>
  </form>
          </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="btn btn-success" [mat-dialog-close]="ssrList" cdkFocusInitial color="accent">Add</button>
    <button mat-button mat-dialog-close class="btn btn-danger" color="primary" >Quit</button>
  </mat-dialog-actions>
  </div>
  <br>
  <mat-progress-bar [mode]="progressMode"></mat-progress-bar>
  </mat-tab>
  
</mat-tab-group>