<p>Hi User!</p>
<p>You have selected these SSR's</p>
<mat-tab-group dynamicHeight>
  <mat-tab label="Unpaid Special Service Requests">
  <div class="dialog">
  <mat-dialog-content class="mat-typography">
  <div class="card">
  <div class="card-body">
    <form [formGroup]="ssrForm">
      <section class="example-section">
      <ng-template ngFor let-item [ngForOf]="filterFields" let-i="index" >
          <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="allComplete"
                            [color]="black">
                {{filterFields[i].ssrcode}}
              </mat-checkbox><br>
            </span>
          <!-- <label for="filterFields[i].SSR">{{filterFields[i].SSR}}</label>
          <input id="filterFields[i].SSR" type="text" [formControlName]="filterFields[i].SSR"> -->
        </ng-template>
        </section>
  </form>
          </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
       <!-- <button mat-button class="btn btn-success" color="accent" cdkFocusInitial (click)="AddItem()">Add Items</button>
       <button mat-button *ngIf="isEditItems || isAddItem" (click)="cancel()" class="btn btn-warning" color="primary" >Cancel</button>
       <button mat-button mat-dialog-close class="btn btn-danger" color="primary" >Quit</button> -->
</mat-dialog-actions>
</div>
  </mat-tab>
  <mat-tab label="Premium Special Service Requests">
  <div class="dialog">
  <mat-dialog-content class="mat-typography">
  <div class="card">
  <div class="card-body">
    <form [formGroup]="ssrForm">
      <section class="example-section">
      <ng-template ngFor let-item [ngForOf]="filterFields" let-i="index" >
          <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="allComplete"
                            [color]="black">
                {{filterFields[i].ssrcode}}
              </mat-checkbox><br>
            </span>
          <!-- <label for="filterFields[i].SSR">{{filterFields[i].SSR}}</label>
          <input id="filterFields[i].SSR" type="text" [formControlName]="filterFields[i].SSR"> -->
        </ng-template>
        </section>
  </form>
          </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
       <!-- <button mat-button class="btn btn-success" color="accent" cdkFocusInitial (click)="AddService()">Add Items</button>
       <button mat-button *ngIf="isEditService || isAddservice" (click)="cancel()" class="btn btn-warning" color="warn" >Cancel</button>
       <button mat-button mat-dialog-close class="btn btn-danger" color="primary" >Quit</button> -->
  </mat-dialog-actions>
  </div>
  </mat-tab>
</mat-tab-group>